.image-center {
  padding: 50px;
  display: block;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}

.wrapper >ul {
  display: inline-block;
  list-style-position: inside;
}

.wrapper >ol {
  display: inline-block;
  list-style-position: inside;
}

body, main {
  background:#7CA5B8;
}

header {
  margin-top: -20px;
  background:#1D2D44;
  color:#EFD9CE;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  padding-top: 70px;
  margin-top:-10px;
}

nav {
  background: #EFD9CE;
  text-align: right;
}

header h3 {
  font-family: monospace;
  padding-bottom: 0;
}

header, article {
  text-align: center;
}

nav, header h3 {
  font-size: 24px;
}

article {
  font-size: 18px;
}

a:link {
  color: #1D2D44;
}

article a:link {
  color: black;
  font-size: 25px;
}
a:visited{
  color: #1D2D44;
}
a:hover {
  color:  darkorchid;
}
a:active{
  color: fuchsia;
}

footer {
  background: #1D2D44;
  padding: 30px;
  margin-bottom: -20px;
  }

header, footer {
    margin-right: -10px;
    margin-left: -10px;
  }

  a[href^="mailto:"]{
    color: #1D2D44;
  }