body {
  background:#7CA5B8;
}

header {
  margin-top: -35px;
  background:#1D2D44;
  color:#EFD9CE;
  text-align: center;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  padding-top: 70px;

}

nav {
  background-color: steelblue;
  text-align: right;
  height: 50px;
  padding: 5px;
}

.button {
  background-color:whitesmoke;
  border: black solid 2px;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  border-radius: 6px;
}

nav a {
  color: #1D2D44;
  text-decoration: none;
}

header h3 {
  font-family: monospace;
  font-size: 28px;
}

.image-center {
  padding: 50px;
  display: block;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}

article {
  width: 600px;
  padding-bottom: 25px;
  margin-right: auto;
  margin-left: auto;
  font-size: 20px;
}

article p, h2 {
  text-align: center;
}
h3 {
  font-size: 26px;
}
nav a:visited {
  color: #1D2D44;
}

article a:link {
  color: #1D2D44;
  font-size: 22px;
}
article a:visited {
  color: darkorchid;
}
article a:hover {
  color: deeppink;
}
article a:active{
  color: fuchsia;
}

footer {
  background: #1D2D44;
  padding: 40px;
  margin-bottom: -20px;
  }

header, footer {
    margin-right: -10px;
    margin-left: -10px;
  }

  a[href^="mailto:"]{
    color: #1D2D44;
  }
