/* sets the background color for the body which gets passed onto descendants so it only has to be set once */
body {
  background:#7CA5B8;
}
/*sets the background color of the header and eliminates white space above the header.*/
header {
  margin-top: -35px;
  background:#1D2D44;
  color:#EFD9CE;
  text-align: center;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  padding-top: 70px;

}

nav {
  background-color: steelblue;
  text-align: right;
  height: 50px;
  padding: 5px;
}

/* a class that creates a button. Sets a background color, a border, adds space around all 4 sides of the text, centers the text within the button, and rounds the border */
.button {
  background-color:whitesmoke;
  border: black solid 2px;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  border-radius: 6px;
}
/* removes the underline from the links in the nav bar */
nav a {
  color: #1D2D44;
  text-decoration: none;
}

header h2 {
  font-family: monospace;
  font-size: 28px;
}
/* centers the image */
.image-center {
  padding: 50px;
  display: block;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}
/* sets a width for the article element of the page, centers it, and adds space on at the end of the article on the bottom */
article {
  width: 600px;
  padding-bottom: 25px;
  margin-right: auto;
  margin-left: auto;
  font-size: 20px;
}
/* centers text in all paragraphs in the article element and all h2 elements */
article p, h3 {
  text-align: center;
}

h3 {
  font-size: 30px;
}
/* these next five all deal with links. Giving them default colors and colors to display when hovered over, clicked, and after they have been visited. */
nav a:visited {
  color: #1D2D44;
}

article a:link {
  color: #1D2D44;
  font-size: 22px;
}
article a:visited {
  color: darkorchid;
}
article a:hover {
  color: deeppink;
}
article a:active{
  color: fuchsia;
}

footer {
  text-align: right;
  color:azure;
  background: #1D2D44;
  padding: 40px;
  margin-bottom: -20px;
  }

header, footer {
    margin-right: -10px;
    margin-left: -10px;
  }

  a[href^="mailto:"]{
    color: #1D2D44;
  }
